#loactionButton, #centerButton {
	padding-top: 4px;
	color: black;
	border: none;
	border-radius: 25px;
	background-color: white;
	transition: .4s;
}

#loactionButton:hover, #centerButton:hover{
	transform: scale(1.06);
	background-color: #ffb31a;
	cursor: pointer;
}


#cycleTraffic, #dzs, #heat, #clearAll {
  border: none;
  border-radius: 6px;
  padding: 5px 20px;
  cursor: pointer;
  font-family: 'Roboto';
  font-weight: 800;
  font-size: 1rem;
  transition: 0.3s;
}

#cycleTraffic:hover, #dzs:hover, #heat:hover, #clearAll:hover {
  background-color: #e37578;
  color: white;
}


.switch {
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  display: inline-block;
  width: 45px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e37578;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 4px;
  background-color: rgb(255, 255, 255);
  transition: .4s;
}

input:checked + .slider {
	background-image: -webkit-linear-gradient(45deg, #e37578 0%, #ff692e 100%);
  background-image: linear-gradient(45deg, #e37578 0%, #ff692e 100%);
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 