#loactionButton, #centerButton {
	padding-top: 4px;
	color: black;
	border: none;
	border-radius: 25px;
	background-color: white;
	transition: .4s;
}

#loactionButton:hover, #centerButton:hover{
	transform: scale(1.06);
	background-color: #ffb31a;
	cursor: pointer;
}


#cycleTraffic, #dzs, #heat, #clearAll {
  border: none;
  border-radius: 6px;
  padding: 5px 20px;
  cursor: pointer;
  font-family: 'Roboto';
  font-weight: 800;
  font-size: 1rem;
  transition: 0.3s;
}

#cycleTraffic:hover, #dzs:hover, #heat:hover, #clearAll:hover {
  background-color: #e37578;
  color: white;
}