#clearButton {
  padding: 4px 11px;
  border: unset;
  border-radius: 15px;
  color: #000000;
  z-index: 1;
  background: white;
  position: relative;
  font-family: 'Roboto';
  font-weight: 800;
  font-size: 1rem;
  transition: all 250ms;
  overflow: hidden;
  cursor: pointer;
}

#clearButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #e37578;
  z-index: -1;
  transition: all 400ms;
}

#clearButton:hover {
  color: white;
}
 
#clearButton:hover::before {
  width: 100%;
}


#loactionButton {
	padding-top: 4px;
	color: black;
	border: none;
	border-radius: 25px;
	background-color: white;
	transition: .4s;
}

#loactionButton:hover{
	transform: scale(1.06);
	background-color: #ffb31a;
	cursor: pointer;
}


.btnCenter {
	padding-top: 4px;
	color: black;
	border: none;
	border-radius: 25px;
	background-color: white;
	transition: .4s;
}

.btnCenter:hover{
	transform: scale(1.06);
	background-color: #ffb31a;
	cursor: pointer;
}