.legend {
  margin-left: 10px;
  padding: 0px 7px 0px 7px;
  width: 100%;
  height: var(--mpHeight);
  border-radius: 10px;
  background-color: #f4faff;
  color: black;
} 

#caption {
  font-size: 1.5rem;
  font-weight: 600;
}

#ut {
  font-size: 1.20rem;
  font-weight: 600;
}

.pathOptions {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 15% 85%;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: 
    "span1 p1"
    "span2 p2"
    "span3 p3"
    "span4 p4";
}

.streetInfra {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 15% 85%;
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: 
    "span5 p5"
    "span6 p6"
    "span7 p7"
    "span8 p8"
    "span9 p9";
}

#span1 {
  display: inline-block; 
  height: 0.5em; 
  width: 2em; 
  border-top: solid #0000ce 3px; 
  align-self: center;
  grid-area: span1;
}

#span2 {
  display: inline-block; 
  height: 0.5em; 
  width: 2em; 
  border-top: solid #0060ff 3px; 
  align-self: center;
  grid-area: span2;
}

#span3 {
  display: inline-block; 
  height: 1.5em; 
  width: 2em;
  grid-area: span3;
}

#span4 {
  display: inline-block; 
  height: 1em; 
  width: 2em; 
  background-color: #0060ff; 
  opacity: 0.5; 
  border-top: 1px solid #888; 
  border-bottom: 1px solid #888888;
  grid-area: span4;
}

#span5 {
  display: inline-block; 
  height: 1em; 
  width: 2em; 
  background-color: #8ffc8d; 
  opacity: 0.5; 
  border-top: 1px solid #888; 
  border-bottom: 1px solid #888;
  grid-area: span5;
}

#span6 {
  display: inline-block; 
  height: 1em; 
  width: 2em; 
  background-color: #88eded; 
  opacity: 0.5; 
  border-top: 1px solid #888; 
  border-bottom: 1px solid #888;
  grid-area: span6;
}

#span7 {
  display: inline-block; 
  height: 1em; 
  width: 2em; 
  background-color: #22ff6b; 
  opacity: 0.5; 
  border-top: 1px solid #888; 
  border-bottom: 1px solid #888;
  grid-area: span7;
}

#span8 {
  margin-left: 12px;
  display: inline-block; 
  width: 0.5em; 
  height: 0.5em; 
  background-color: blue; 
  border-radius: 50%;
  align-self: center;
  grid-area: span8;
}

#span9 {
  margin-left: 7px;
  grid-area: span9;
}

#span10 {
  display: inline-block; 
  height: 1em; 
  width: 2em; 
  background-color: #5500ff; 
  opacity: 0.5;
  grid-area: span10;
}

#span11 {
  display: inline-block; 
  height: 1em; 
  width: 2em; 
  background-color: #0000ff; 
  opacity: 0.5;
  grid-area: span11;
}

#p1 {
  grid-area: p1;
}

#p2 {
  grid-area: p2;
}

#p3 {
  grid-area: p3;
}

#p4 {
  grid-area: p4;
}

#p5 {
  grid-area: p5;
}

#p6 {
  grid-area: p6;
}

#p7 {
  grid-area: p7;
}

#p8 {
  grid-area: p8;
}

#p9 {
  grid-area: p9;
}

#p10 {
  grid-area: p10;
}

#p11 {
  grid-area: p11;
}

.heatmap {
  height: 10vh;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 15% 85%;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: 
    "high textHigh"
    "mid textMiddle"
    "low textLow"
}

#high {
  border: 1px solid;
  width: 75%;
  height: 75%;
  background-color: red;
  grid-area: high;
}

#middle {
  border: 1px solid;
  width: 75%;
  height: 75%;
  background-color: yellow;
  grid-area: mid;
}

#low {
  border: 1px solid;
  width: 75%;
  height: 75%;
  background-color: green;
  grid-area: low;
}

#textHigh {
  grid-area: textHigh;
}

#textMiddle {
  grid-area: textMiddle;
}

#textLow {
  grid-area: textLow;
}

#link1 {
  color: black;
  text-decoration: none;
}

#link1:hover {
  color: green;
  text-decoration: underline;
}