:root {
  --mpHeight: 85vh;
  --mpWidth: 80vw;
}

#app {
  margin: 10px;
}

.header {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--mpWidth);
}

.caption {
  justify-self: flex-start;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
}

.headerButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnClear {
  margin-right: 70px;
  padding-top: 7px;
  padding-bottom: 3px;
}

.main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: var(--mpHeight);
}

.leaflet-container {
  border-radius: 10px;
  width: var(--mpWidth);
  height: var(--mpHeight);
}

.dataButtons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: var(--mpWidth);
}

.btnDemoCycleTraffic, .btnCycleTraffic, .btnDzs, .btnHeatmap {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  font-weight: 800;
  font-size: 1rem;
}

.btnDemoCycleTraffic > p, .btnCycleTraffic > p, .btnDzs > p, .btnHeatmap > p {
  margin-left: 7px;
}