:root {
  --mpHeight: 85vh;
  --mpWidth: 80vw;
}

#app {
  margin: 10px;
}

.header {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--mpWidth);
}

.caption {
  justify-self: flex-start;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
}

.headerButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: var(--mpHeight);
}

.leaflet-container {
  border-radius: 10px;
  width: var(--mpWidth);
  height: var(--mpHeight);
}

.dataButtons {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: var(--mpWidth);
}